body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f5f5f5;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #283e4a;
	z-index: 5;
	display: flex;
}

nav img {
	height: 35px;
	margin: 5px 0 15px 10px;
}

nav ul {
	display: flex;
}

nav ul li {
	text-decoration: none;
	list-style: none;
	padding: 0 25px 0 25px;
	color: #c1c1c1;
}

nav ul li:hover {
	color: #ffffff;
	transition: 0.3s;
	cursor: pointer;
}

input[type='text'] {
	width: 20%;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #ffffff;
	color: #000000;
	border: 0px;
}

#main_content {
	width: 70%;
	margin-top: 50px;
}

#bann_container {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#super-container {
	position: relative;
}

#profil-pic {
	position: absolute;
	z-index: 4;
	height: 70px;
	margin: 260px 0 0 20px;
	border-radius: 30px 30px 0 0;
}

header .bann {
	width: 100%;
	position: absolute;
	left: 0;
	transform-origin: 50% 50%;
	top: -25%;
}

header,
main {
	width: calc(100% - 100px);
	margin: 0 0 0 100px;
}

.infos-container {
	background-color: white;
	width: 100%;
	z-index: 0;
}

.infos-container img {
	height: 50px;
}

.infos {
	display: flex;
	background-color: white;
	width: 99.9%;
	justify-content: flex-end;
	flex-wrap: wrap;
	border-left: 0.5px solid #c1c1c1;
	border-right: 0.5px solid #c1c1c1;
}

.infos button:hover {
	cursor: pointer;
}

.personalinfos {
	font-size: 15px;
	font-style: bold;
	height: 100px;
	border-bottom: 0.5px solid #c1c1c1;
	border-left: 0.5px solid #c1c1c1;
	border-right: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
	padding-left: 15px;
}

#me {
	font-weight: bold;
	font-size: 20px;
}

#coordonees {
	color: #0073b1;
	font-weight: bold;
	text-decoration: none;
}

#coordonees:hover {
	cursor: pointer;
	text-decoration: underline;
}

#blue {
	background-color: #006097;
	color: #f1f1f1;
	border: 1px solid #006097;
	padding: 4px;
	margin: 5px;
	margin-top: 10px;
}

#blue:hover {
	background-color: #ffffff;
	color: #006097;
	transition: 0.2s;
}

#white {
	background-color: #fff;
	color: #c1c1c1;
	border: 1px solid grey;
	padding: 4px;
	margin: 5px 8px 5px 5px;
	margin-top: 10px;
}

#white:hover {
	background-color: #c1c1c1;
	color: #ffffff;
	transition: 0.2s;
}

aside {
	width: 30%;
	margin-top: 50px;
}

aside div {
	width: calc(100% - 100px);
	margin-right: 100px;
}

.video-container {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
}

.video-container video {
	padding-top: 25px;
}

.essentiel {
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
}

.img-container {
	margin-left: 12px;
}

img .message-icon {
	vertical-align: middle;
	margin-left: 10px;
}

.essentiel h2 {
	padding: 15px 0 0 20px;
}

.essentiel p {
	padding: 0 0 15px 20px;
}

#services {
	font-size: 15px;
	color: #c1c1c1;
	margin-left: 60px;
}

#send-message {
	color: #00639c;
	background-color: #ffffff;
	border: 1px solid #006097;
	margin: 10px 0 20px 60px;
	font-size: 17px;
	padding: 8px 5px 6px 5px;
	font-weight: bold;
}

#send-message:hover {
	background-color: rgba(0, 99, 156, 0.3);
	border: 2px solid #006097;
	cursor: pointer;
	transition: 0.1s;
}

.article {
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
	padding-bottom: 2%;
}

.article h2 {
	padding: 15px 0 0 20px;
	margin-bottom: 5px;
}

.article span {
	padding: 15px 0 0 20px;
	color: #c1c1c1;
}

.article-box {
	background-color: #f5f5f5;
	border: 0.5px solid #c1c1c1;
	width: 36%;
	margin: 15px 0 0 20px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 10px;
	margin-bottom: 25px;
}

.article-box p:hover {
	cursor: pointer;
}

#img-article-container {
	display: flex;
}

#writter-container {
	display: flex;
	flex-direction: column;
}

#writter-container h5 {
	padding-left: 10px;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 2px;
}

#published {
	margin-top: 3px;
	margin-left: 20px;
	padding: 0;
	font-size: 12px;
}

.article-box img {
	height: 96px;
	width: 96px;
	vertical-align: middle;
	padding-top: 15px;
}

.article-box #article-title {
	font-weight: bold;
	color: #000000;
	font-size: 18px;
}

.article-box p {
	font-size: 17px;
}

#btn-group {
	margin: 0 0 0 20px;
}

.btn {
	margin: 0 20px 20px 20px;
	border: none;
	text-decoration: none;
	background-color: #ffffff;
	color: #777;
	font-weight: bold;
}

.btn:hover {
	cursor: pointer;
	background-color: rgba(193, 193, 193, 0.5);
	padding: 7px;
	border: solid 1px rgba(193, 193, 193, 0.5);
	border-radius: 3px;
	transition: 0.5;
}

#seeall {
	text-decoration: none;
	color: #006097;
	font-weight: bold;
	margin-left: 30px;
}

#seeall:hover {
	cursor: pointer;
	text-decoration: underline;
}

.experience {
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
}

.experience h2 {
	padding: 15px 0 0 20px;
}

.experience_item {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
}

.experience_item_date {
	width: 10%;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	vertical-align: middle;
	height: 110px;
}

.experience_item_date img {
	height: 60px;
	width: 60px;
}

.experience_item_text {
	width: 50%;
	display: inline-block;
	font-size: 15px;
	height: 150px;
	vertical-align: middle;
	padding: 10px;
}

.experience_item_text .experience-span {
	color: #777;
}

.experience hr {
	background-color: rgba(193, 193, 193, 0.2);
	margin-left: 12%;
}

.section-hr {
	color: rgba(193, 193, 193, 0.2);
	margin-left: 0 !important;
	margin-top: 50px;
}

/************************************************************************************/

.recommandations {
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
}

.recommandations h2 {
	padding: 15px 0 0 20px;
}

.recommandation-item {
	padding: 15px 0 0 20px;
}

.recommandation-item h3 span {
	color: #777;
}

.recommandations hr {
	background-color: rgba(193, 193, 193, 0.2);
	margin-left: 30px;
	margin-top: 30px;
}

#seeall-recommandation {
	text-decoration: none;
	color: #006097;
	font-weight: bold;
	margin-left: 30px;
}

#special-hr {
	margin: 25px 0 0 0;
	padding: 0;
}

#recommandation-button {
	text-decoration: none;
	border: none;
	width: 100%;
	padding: 0;
	height: 50px;
	background-color: #ffffff;
	color: #00639c;
	font-weight: bold;
	font-size: 18px;
}

#recommandation-button:hover {
	background-color: rgba(0, 99, 156, 0.15);
	cursor: pointer;
	transition: 0.2s;
}

.realisations {
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
}

.realisations h2 {
	padding: 15px 0 0 20px;
}

.realisations span {
	color: #0073b1;
	font-size: 25px;
	font-weight: bold;
	padding: 0 0 0 100px;
}

.realisations span h3 {
	color: #0073b1;
	display: inline;
	font-weight: normal;
	font-size: 15px;
}

#realisation-text {
	width: 50%;
	margin: 10px 15% 10px 15%;
}

#realisation-text p {
	font-size: 18px;
}

.interests {
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 0.5px solid #c1c1c1;
	-webkit-box-shadow: 0 2px 1px -1px #777;
	-moz-box-shadow: 0 2px 1px -1px #777;
	box-shadow: 0 2px 1px -1px #777;
}

.interests h2 {
	padding: 15px 0 0 20px;
}

.big-container {
	display: flex;
	justify-content: space-evenly;
}

.small-container1 .experience_item .experience_item_text {
	margin-left: 35px;
}

.small-container2 .experience_item .experience_item_text {
	margin-left: 35px;
}

footer {
	width: 100%;
}

.footer_blocks:nth-child(4) li img {
	width: 15px;
}

.footer_blocks {
	width: calc(25% - 20px);
	padding: 10px;
}

.footer_blocks ul li {
	list-style: none;
	font-size: 15px;
	color: #485d69;
	width: 100%;
	font-weight: bold;
}

.footer_blocks ul li:hover {
	font-size: 15px;
	color: #0073b1;
	cursor: pointer;
}

#footer-logo {
	width: 60px;
	height: 14px;
	padding: 40px 0 0 45px;
}

#choose-language {
	border: 3px solid #0073b1;
	color: #0073b1;
	padding: 5px;
}

#choose-language:hover {
	border: 3px solid #000000;
}

.footer-span {
	color: #485d69;
	font-weight: normal;
}

#footer_row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

i {
	padding: 40px 0 0 50px;
	font-size: 13px;
	color: #485d69;
	font-weight: normal;
	font-style: normal;
}
