body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f5f5f5;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #c1c1c1;
	z-index: 5;
}

#main_content {
	width: 70%;
	margin-top: 50px;
}

#bann_container {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

header .bann {
	width: 100%;
	position: absolute;
	left: 0;
	transform-origin: 50% 50%;
	top: -25%;
}

header,
main {
	width: calc(100% - 100px);
	margin: 0 0 0 100px;
}

.infos-container {
	background-color: white;
	width: 100%;
}

.infos {
	display: flex;
	background-color: white;
	width: 100%;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.personalinfos {
	font-size: 10px;
	font-style: bold;
	border-radius: 25px;
}

#blue {
	background-color: #006097;
	color: white;
	border: 1px solid #006097;
	padding: 4px;
	margin: 5px;
	margin-top: 10px;
}

#white {
	background-color: #fff;
	color: gray;
	border: 1px solid grey;
	padding: 4px;
	margin: 5px;
	margin-top: 10px;
}

aside {
	width: 30%;
	margin-top: 50px;
}

aside div {
	width: calc(100% - 100px);
	margin-right: 100px;
}

.video-container{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
}

.video-container video{
	padding-top: 25px;
}

.essentiel{
	margin-top: 2%;
	background-color: #ffffff;
	border-radius: 5px;
}

.img-container{
	margin-left: 12px;
}

img .message-icon{
	vertical-align: middle;
	margin-left: 10px;
}

.essentiel h2{
	font-weight: normal;
	padding: 15px 0 0 20px;
}

#services {
	font-size: 15px;
	color: #c1c1c1;
	margin-left: 60px;
}

#send-message{
	color: #00639c;
	background-color: #ffffff;
	border: 1px solid #006097;
	margin: 10px 0 20px 60px;
	font-size: 17px;
	padding: 8px 5px 6px 5px;
	font-weight: bold;
}

#send-message:hover{
	background-color: rgba(0, 99, 156, 0.3);
	border: 2px solid #006097;
	cursor: pointer;
	transition: 0.1s;
}

footer {
	width: 100%;
}

#footer_logo {
	width: 60px;
	height: 14px;
}

.footer_blocks:nth-child(4) li img {
	width: 15px;
}

.footer_blocks {
	width: calc(25% - 20px);
	padding: 10px;
}

#footer_row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
